.btn {
  border-radius: 15px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 400;
  padding: 20px 30px;
  background-color: white;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: none;

  i {
    margin-right: 10px;
  }

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0px 15px 40px -10px rgba($mainColor, 0.3);
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px rgba($mainColor, 0.8);
  }

  &:active {
    opacity: 0.7;
  }
}
