.left-side {
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  h1 {
    font-size: 5vw;
    font-weight: 900;
  }
  .image {
    height: 100%;
    background-image: url("../img/image_login.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 40px;

    &:after {
      content: "";
      position: absolute;
      width: 700px;
      height: 700px;
      max-height: 100vh;
      max-width: 100vh;
      background-color: rgba($mainColor, 0.3);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 0;
      z-index: -1;
    }
  }
}

.loginGrid {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

header.login {
  --size: 130px;
  transition: 0.3s;
  max-width: 150px;
  max-height: 150px;
  height: var(--size);
  width: var(--size);
  position: absolute;
  top: -70px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  animation: float 8s infinite;
  box-shadow: 0 0 70px 0 rgba(black, 0.1);

  & > * {
    font-size: 60px;
    z-index: 1;
  }
}

form.login {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .textInput {
    width: 100%;
  }

  & > *:not(p) {
    margin: 10px 0;
  }
}

.textInput {
  transition: 0.3s;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 15px;
  border: 2px solid white;
  background-color: rgba(white, 0.5);
  font-size: 16px;

  &:focus {
    box-shadow: 0px 0px 0px 3px rgba($mainColor, 0.8);
  }
}
section.login {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.glass {
  background-color: rgba($primary, 0.73);
  border: 2px solid $primary;
}
.separator {
  width: 30%;
  height: 2px;
  box-shadow: 0 0 50px 0 black;
  background-color: white;
}
.innerCard {
  width: 100%;
  margin: 20px;
  margin-top: 80px;
  max-width: 420px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 20px;
  box-shadow: 0 0 70px 0 rgba(black, 0.1);
}
