@import "variables";
@import "components";
@import "buttons";

a {
  text-decoration: none;
  color: $mainColor;
  filter: brightness(0.8);
}

.error {
  background-color: rgba($danger-color, 0.5) !important;
  border-color: $danger-color !important;
  position: relative;
}
.success {
  background-color: rgba($success-color, 0.5) !important;
  border-color: $success-color !important;
  position: relative;

  &:focus {
    box-shadow: 0 0 0 0 transparent;
  }
}

.notification-list-item--glass {
  background-color: rgba(255, 255, 255, 0.73) !important;
  backdrop-filter: blur(10px) saturate(180%) !important;
  color: #000 !important;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

body {
  margin: 0;
}
p {
  margin: 0 0 10px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-user-select: none;
}
a {
  user-select: none;
  outline: none;
}
