<template>
  <div class="home">
    <HelloWorld :msg="getUser.displayName + ' - ' + getUser.email" />
  </div>
</template>

<script>
import { computed } from "vue";
import firebase from "firebase";
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "Home",
  components: {
    HelloWorld,
  },

  setup() {
    const getUser = computed(() => {
      return firebase.auth().currentUser;
    });

    return { getUser };
  },
};
</script>
