<template>
  <div class="loginGrid">
    <section class="login">
      <div class="innerCard glass">
        <header class="login"><i class="far fa-user-circle"></i></header>
        <login-card></login-card>
      </div>
    </section>
  </div>
</template>
<script lang="js">
import { defineComponent } from "vue";
import loginCard from "@/components/LoginCard.vue";

export default defineComponent({
  name: "LoginPage",
  components: {
    loginCard,
  },
});
</script>
