<template>
  <div class="loginGrid">
    <section class="login">
      <div class="innerCard glass">
        <header class="login"><i class="far fa-user-circle"></i></header>
        <register-card></register-card>
      </div>
    </section>
  </div>
</template>
<script lang="js">
import { defineComponent } from "vue";
import registerCard from "@/components/RegisterCard.vue";

export default defineComponent({
  name: "LoginPage",
  components: {
    registerCard,
  },
});
</script>
<style lang="scss" scoped>
.innerCard {
  max-width: 550px;
}
</style>
