<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <button @click="logout">Cerrar Sesión</button>
  </div>
</template>

<script>
import firebase from "firebase";
import { useRouter } from "vue-router";

export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  setup() {
    const router = useRouter();
    const logout = () => {
      firebase
        .auth()
        .signOut()
        .then(() => {
          router.push({ name: "Login" });
        })
        .catch((err) => {
          console.log(err);
        });
    };

    return { logout };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
