<template>
  <form class="login" @submit.prevent="doLogin">
    <h1>¡Hola de nuevo!</h1>
    <p>¡Nos alegramos mucho de volver a verte!</p>
    <input
      :class="validateEmailClass"
      type="mail"
      placeholder="Correo electrónico..."
      v-model="user"
    />
    <input
      :class="validatePasswordClass"
      type="password"
      placeholder="Contraseña..."
      v-model="pass"
    />
    <button class="btn" type="submit" :disabled="!validateAll">
      Iniciar sesión
    </button>
    <div class="separator"></div>
    <button class="btn">
      <i class="fab fa-google"></i>Continuar con google
    </button>
    <p>
      ¿No tienes cuenta? <router-link to="/register">Registrate</router-link>
    </p>
  </form>
</template>
<script lang="js">
import { defineComponent, ref, computed } from "vue";
import { useRouter } from "vue-router";

import { useNotificationStore } from '@dafcoe/vue-notification'
const { setNotification } = useNotificationStore()

import firebase from 'firebase';

export default defineComponent({
  name: "LoginCard",
  props: {
    loginReturnUrl: { type: String, default: "/" },
  },
  setup(props) {
    let user = ref("");
    let pass = ref("");
    let validLogin = ref(true);
    const loggedIn = ref(false);
    const router = useRouter();

    const doLogin = () => {
      firebase.auth().signInWithEmailAndPassword(user.value, pass.value)
        .then(() => {
          validLogin.value = true;
          loggedIn.value = true;
          setTimeout(() => {
            router.push(props.loginReturnUrl)
          }, 1000);
        })
        .catch((err) => {
          validLogin.value = false;
          if (err.code == "auth/user-not-found") {
            setNotification({
              "message": "No existe ningún usuario con esa combinación de correo y contraseña. 😤",
              "type": "alert",
              "showIcon": true,
              "dismiss": {
                "manually": true,
                "automatically": true
              },
              "duration": 5000,
              "showDurationProgress": true,
              "appearance": "light"
            });
          }
        });
    };

    const validateEmail = computed(() => {
      return isEmail() || user.value == ""
      });
    const validateLogin = computed(() => {return validLogin.value || pass.value == ""});

    const validateAll = computed(() => {
      return validateEmail.value && user.value != "" && pass.value != "";
    })

    const validateEmailClass = computed(()=>{
      let returnClass = "textInput "

      if ((user.value != "" && !validateLogin.value ) || (user.value != "" && !validateEmail.value)){
        returnClass += "error";
      } else if (loggedIn.value) {
        returnClass += "success";
      }

      return returnClass;
    });

    const validatePasswordClass = computed(()=>{
      let returnClass = "textInput "

      if ((user.value != "" && !validateLogin.value)){
        returnClass += "error";
      } else if (loggedIn.value) {
        returnClass += "success";
      }

      return returnClass;
    });

    const isEmail = () => {
      let email = user.value;
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    }

    return {
      user,
      pass,
      doLogin,
      validateEmail,
      validateLogin,
      validLogin,
      validateAll,
      loggedIn,
      validateEmailClass,
      validatePasswordClass
    };
  },
});
</script>
