<template>
  <form class="login" @submit.prevent="doRegister">
    <h1>¡Bienvenido forastero!</h1>
    <p>¡Todo estara a tu alcance en cuestion de 1 click!</p>
    <div class="twoCols">
      <input
        class="textInput"
        type="text"
        placeholder="Nombre y Apellidos..."
        v-model="userName"
      />
      <input
        :class="validateEmailClass"
        type="text"
        placeholder="Correo electrónico..."
        v-model="user"
      />
    </div>
    <input
      :class="validatePasswordsClass"
      type="password"
      placeholder="Contraseña..."
      v-model="pass"
    />
    <input
      :class="validatePasswordsClass"
      type="password"
      placeholder="Confirmar Contraseña..."
      v-model="confirmPass"
    />
    <button class="btn" type="submit" :disabled="!validateAll">
      Crear cuenta
    </button>
    <div class="separator"></div>
    <button class="btn">
      <i class="fab fa-google"></i>Continuar con google
    </button>
    <p>
      ¿Ya tienes cuenta? <router-link to="/login">Inicia sesión</router-link>
    </p>
  </form>
</template>
<script lang="js">
import { defineComponent, ref, computed } from "vue";
import { useRouter } from "vue-router";

import firebase from 'firebase';
import { useNotificationStore } from '@dafcoe/vue-notification'
const { setNotification } = useNotificationStore()


export default defineComponent({
  name: "LoginCard",
  props: {
    loginReturnUrl: { type: String, default: "/" },
  },
  setup(props) {
    let user = ref("");
    let pass = ref("");
    let userName = ref("");
    let confirmPass = ref("");
    let validRegister = ref(true)
    const router = useRouter();

    const doRegister = () => {
      firebase.auth().createUserWithEmailAndPassword(user.value, pass.value).then((result) => {
      return result.user.updateProfile({
         displayName: userName.value
      });
      }).then(() => {
          validRegister.value = true;
          setNotification({
            "message": "¡Usuario registrado con exito! 🎉",
            "type": "success",
            "showIcon": true,
            "dismiss": {
              "manually": true,
              "automatically": true
            },
            "duration": 5000,
            "showDurationProgress": true,
            "appearance": "light"
          });
          setTimeout(() => {
            router.push(props.loginReturnUrl)
          }, 1000);
        })
        .catch((err) => {
          validRegister.value = false;
          if (err.code == "auth/email-already-in-use") {
            setNotification({
              "message": "Ya existe un usuario con ese correo. 😕",
              "type": "alert",
              "showIcon": true,
              "dismiss": {
                "manually": true,
                "automatically": true
              },
              "duration": 5000,
              "showDurationProgress": true,
              "appearance": "light"
            });
          }
        });
    };

    const validateEmail = computed(() => {
      return isEmail();
    });

    const validatePasswords = computed(() => {
      return pass.value == confirmPass.value && pass.value.length >= 6;
    });

    const validateAll = computed(() => {
      return validateEmail.value && validatePasswords.value && user.value != "" && pass.value != "" && confirmPass.value != "";
    })

    const validatePasswordsClass = computed(()=>{
      let returnClass = "textInput "

      if (confirmPass.value != "" && !validatePasswords.value){
        returnClass += "error";
      } else if (confirmPass.value != "") {
        returnClass += "success";
      }

      return returnClass;
    })

    const validateEmailClass = computed(()=>{
      let returnClass = "textInput "

      if ((user.value != "" && !validateEmail.value) || !validRegister.value){
        returnClass += "error";
      } else if (validateEmail.value != "") {
        returnClass += "success";
      }

      return returnClass;
    })


    const isEmail = () => {
      let email = user.value;
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    }

    return {
      user,
      pass,
      confirmPass,
      doRegister,
      validateEmail,
      validatePasswords,
      validateAll,
      validatePasswordsClass,
      validateEmailClass,
      userName
    };
  },
});
</script>

<style lang="scss">
.twoCols {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
</style>
